button[data-md-color-primary],

button[data-md-color-primary="solus"] {
  background-color: #5294E2; }

[data-md-color-primary="solus"] .md-typeset a {
  color: #5294E2; }

[data-md-color-primary="solus"] .md-header {
  background-color: #5294E2; }

[data-md-color-primary="solus"] .md-hero {
  background-color: #5294E2; }

[data-md-color-primary="solus"] .md-nav__link:active,
[data-md-color-primary="solus"] .md-nav__link--active {
  color: #5294E2; }

[data-md-color-primary="solus"] .md-nav__item--nested > .md-nav__link {
  color: inherit; }


button[data-md-color-accent="solus"] {
  background-color: #3886e0; }

[data-md-color-accent="solus"] .md-typeset a:hover,
[data-md-color-accent="solus"] .md-typeset a:active {
  color: #3886e0; }

[data-md-color-accent="solus"] .md-typeset pre code::-webkit-scrollbar-thumb:hover,
[data-md-color-accent="solus"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover {
  background-color: #3886e0; }

[data-md-color-accent="solus"] .md-typeset .md-clipboard:hover::before,
[data-md-color-accent="solus"] .md-typeset .md-clipboard:active::before {
  color: #3886e0; }

[data-md-color-accent="solus"] .md-typeset .footnote li:hover .footnote-backref:hover,
[data-md-color-accent="solus"] .md-typeset .footnote li:target .footnote-backref {
  color: #3886e0; }

[data-md-color-accent="solus"] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent="solus"] .md-typeset [id]:target .headerlink,
[data-md-color-accent="solus"] .md-typeset [id] .headerlink:focus {
  color: #3886e0; }

[data-md-color-accent="solus"] .md-nav__link:focus,
[data-md-color-accent="solus"] .md-nav__link:hover {
  color: #3886e0; }

[data-md-color-accent="solus"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #3886e0; }

[data-md-color-accent="solus"] .md-search-result__link[data-md-state="active"], [data-md-color-accent="solus"] .md-search-result__link:hover {
  background-color: rgba(56, 134, 224, 0.1); }

[data-md-color-accent="solus"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #3886e0; }

[data-md-color-accent="solus"] .md-source-file:hover::before {
  background-color: #3886e0; }


@media only screen and (max-width: 59.9375em) {
  [data-md-color-primary="solus"] .md-nav__source {
    background-color: rgba(82, 148, 226, 0.9675); } }

@media only screen and (max-width: 76.1875em) {
  html [data-md-color-primary="solus"] .md-nav--primary .md-nav__title--site {
    background-color: #5294E2; } }

@media only screen and (min-width: 76.25em) {
  [data-md-color-primary="solus"] .md-tabs {
    background-color: #5294E2; } }
